@import url("https://fonts.googleapis.com/css2?family=Archivo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
@import url("http://fonts.cdnfonts.com/css/product-sans");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

* {
  font-family: "Product Sans", sans-serif;
}

html {
  font-size: 62.5%;
}
html ::selection {
  background-color: #F0F0F0;
  color: #000000;
}

body {
  background-color: #F0F0F0;
}

@media (min-width: 0px) {
  .only-mobile {
    display: flex !important;
  }
  .tablet-desktop {
    display: none !important;
  }
}
@media (min-width: 768px) {
  .only-mobile {
    display: none !important;
  }
  .tablet-desktop {
    display: flex !important;
  }
}
@media (min-width: 0px) {
  .header-mobile {
    background-color: #F0F0F0;
    position: sticky;
    top: 0;
    z-index: 5;
    padding: 2rem;
  }
  .header-mobile .navbar ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  .header-mobile .navbar ul li a .icon {
    width: 3rem;
  }
  .header-mobile .navbar ul li a .logo {
    width: 10rem;
  }
}
@media (min-width: 768px) {
  .header-tabletDesktop {
    background-color: #F0F0F0;
    position: sticky;
    top: 0;
    z-index: 5;
    padding: 2rem;
  }
  .header-tabletDesktop .navbar-logo {
    width: 10rem;
  }
  .header-tabletDesktop .navbar-logo img {
    width: 100%;
  }
  .header-tabletDesktop .navbar ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  .header-tabletDesktop .navbar ul li {
    padding: 0.5rem 2rem;
    border-top: solid #F0F0F0 0.5rem;
    border-bottom: solid #F0F0F0 0.5rem;
    transition: all 0.2s;
  }
  .header-tabletDesktop .navbar ul li a {
    text-decoration: none;
    color: #000000;
    font-size: 1.5rem;
  }
  .header-tabletDesktop .navbar ul li:hover {
    border-bottom: solid #000000 0.5rem;
    font-weight: 700;
  }
  .header-tabletDesktop .navbar ul .button-talk {
    background-color: #000000;
    border-top: solid #000000 0.5rem;
    border-bottom: solid #000000 0.5rem;
    font-weight: 700;
  }
  .header-tabletDesktop .navbar ul .button-talk a {
    color: #F0F0F0;
  }
}
@media (min-width: 1200px) {
  .header-tabletDesktop {
    background-color: #F0F0F0;
    position: sticky;
    top: 0;
    z-index: 5;
  }
  .header-tabletDesktop .navbar-logo {
    width: 15rem;
  }
  .header-tabletDesktop .navbar-logo img {
    width: 100%;
  }
  .header-tabletDesktop .navbar ul {
    list-style-type: none;
  }
  .header-tabletDesktop .navbar ul li {
    padding: 0.5rem 2rem;
    border-top: solid #F0F0F0 0.5rem;
    border-bottom: solid #F0F0F0 0.5rem;
    transition: all 0.2s;
  }
  .header-tabletDesktop .navbar ul li a {
    text-decoration: none;
    color: #000000;
    font-size: 2rem;
  }
  .header-tabletDesktop .navbar ul li:hover {
    border-bottom: solid #000000 0.5rem;
    font-weight: 700;
  }
  .header-tabletDesktop .navbar ul .button-talk {
    background-color: #000000;
    border-top: solid #000000 0.5rem;
    border-bottom: solid #000000 0.5rem;
    font-weight: 700;
  }
  .header-tabletDesktop .navbar ul .button-talk a {
    color: #F0F0F0;
  }
}
@media (min-width: 0px) {
  body {
    display: grid;
    grid-template-areas: "header" "presentation" "skills" "portfolio" "contact" "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 7fr 12fr 6fr 4fr 2fr;
    justify-items: center;
  }
  body .presentation {
    grid-area: presentation;
  }
  body .presentation-info h1 {
    color: #000000;
    font-size: 4rem;
    font-weight: 700;
  }
  body .presentation-info p {
    color: #000000;
    font-size: 2rem;
  }
  body .presentation-img {
    width: 100%;
    max-width: 473px;
    border: solid #000000 1rem;
    background-color: #000000;
    border-radius: 100%;
  }
  body .presentation-img img {
    border-radius: 100%;
    width: 100%;
  }
  body .skills {
    grid-area: skills;
  }
  body .skills-info {
    background-color: #000000;
    color: #F0F0F0;
    font-weight: 700;
    padding: 3rem;
    font-size: 3.5rem;
  }
  body .skills-img__mobile #img-html {
    width: 20rem;
  }
  body .skills-img__mobile #img-css {
    width: 15rem;
    transform: translateY(-1.5rem);
  }
  body .skills-img__mobile #img-js {
    width: 18rem;
  }
  body .skills-img__mobile #img-bootstrap {
    width: 16rem;
  }
  body .skills-img__mobile #img-sass {
    width: 15rem;
  }
  body .skills-img__mobile #img-nodejs {
    width: 13rem;
  }
  body .portfolio {
    grid-area: portfolio;
  }
  body .portfolio-info {
    background-color: #000000;
    color: #F0F0F0;
    font-weight: 700;
    padding: 3rem;
    font-size: 3.5rem;
  }
  body .portfolio-projects__item {
    border: solid #000000 1rem;
    border-radius: 1rem;
    background-color: #000000;
  }
  body .portfolio-projects__item img {
    width: 30rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
  }
  body .portfolio-projects__item .project-description {
    width: 100%;
    text-align: center;
    background-color: #000000;
    color: #F0F0F0;
    font-size: 2rem;
    padding: 1rem;
  }
  body .contact {
    grid-area: contact;
  }
  body .contact-info {
    background-color: #000000;
    color: #F0F0F0;
    font-weight: 700;
    padding: 3rem;
    font-size: 3.5rem;
  }
  body .contact-social {
    width: 20rem;
  }
  body .contact-social__item {
    text-decoration: none;
    color: #000000;
    font-size: 5rem;
    transition: all 0.2s;
  }
  body .contact-social__item:hover {
    transform: scale(1.2);
  }
}
@media (min-width: 768px) {
  body {
    grid-template-rows: 1fr 7fr 7fr 6fr 4fr 2fr;
  }
  body .skills-img {
    width: 60rem;
  }
  body .skills-img img {
    width: 100%;
  }
  body .portfolio-projects__item img {
    width: 50rem;
  }
  body .contact-social__item {
    font-size: 8rem;
  }
}
@media (min-width: 1200px) {
  body .presentation {
    flex-direction: row !important;
  }
  body .presentation-info h1 {
    font-size: 6rem;
  }
  body .presentation-info p {
    font-size: 3rem;
  }
  body .skills {
    flex-direction: row-reverse !important;
  }
  body .skills-img {
    width: 80rem;
  }
  body .portfolio {
    flex-direction: row !important;
  }
  body .portfolio-projects__item img {
    width: 80rem;
  }
  body .contact {
    flex-direction: row-reverse !important;
  }
  body .contact-social {
    width: 800px !important;
  }
  body .contact-social__item {
    font-size: 10rem;
  }
}
@media (min-width: 0px) {
  footer {
    background-color: #000000;
    padding: 5rem;
  }
  footer .footer-title {
    color: #F0F0F0;
    padding: 0.5rem;
    font-weight: 700;
    width: fit-content;
  }
  footer .footerContact-item {
    font-size: 1.5rem;
    color: #F0F0F0;
  }
  footer .footerContact-item a {
    font-size: 1.5rem;
    color: #F0F0F0;
    text-decoration: none;
  }
  footer .social-item {
    font-size: 1.5rem;
    color: #F0F0F0;
  }
  footer .social-item a {
    font-size: 1.5rem;
    color: #F0F0F0;
    text-decoration: none;
  }
}
@media (min-width: 1200px) {
  footer {
    padding: 10rem;
  }
}

/*# sourceMappingURL=style.css.map */
