@media(min-width: 0px){
    footer{
        background-color: $firstColor;
        padding: 5rem;
        .footer-title{
            color: $secondColor;
            padding: .5rem;
            font-weight: 700;
            width: fit-content;
        }
        .footerContact{
            &-item{
                font-size: 1.5rem;
                color: $secondColor;
                a{
                    font-size: 1.5rem;
                    color: $secondColor;
                    text-decoration: none
                }
            }
        }
        .social{
            &-item{
                font-size: 1.5rem;
                color: $secondColor;
                a{
                    font-size: 1.5rem;
                    color: $secondColor;
                    text-decoration: none;
                }
            }
        }
    }
}
@media(min-width: 1200px){
    footer{
        padding: 10rem;
    }
}