@media(min-width: 0px){
    body{
        display: grid;
        grid-template-areas:
            "header"
            "presentation"
            "skills"
            "portfolio"
            "contact"
            "footer"
        ;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 7fr 12fr 6fr 4fr 2fr;
        justify-items: center;
        .presentation{
            grid-area: presentation;
            &-info{
                h1{
                    color: $firstColor;
                    font-size: 4rem;
                    font-weight: 700;
                }
                p{
                    color: $firstColor;
                    font-size: 2rem;
                }
            }
            &-img{
                width: 30rem;
                border: solid $firstColor 1rem;
                background-color: $firstColor;
                border-radius: 100%;
                img{
                    border-radius: 100%;
                    width: 100%;
                }
            }
        }
        .skills{
            grid-area: skills;
            &-info{
                @include title;
            }
            &-img__mobile{
                #img-html{
                    width: 20rem;
                }
                #img-css{
                    width: 15rem;
                    transform: translateY(-1.5rem);
                }
                #img-js{
                    width: 18rem;
                }
                #img-bootstrap{
                    width: 16rem;
                }
                #img-sass{
                    width: 15rem;
                }
                #img-nodejs{
                    width: 13rem;
                }
            }
        }
        .portfolio{
            grid-area: portfolio;
            &-info{
                @include title;
            }
            &-projects{
                &__item{
                    border: solid $firstColor 1rem;
                    border-radius: 1rem;
                    background-color: $firstColor;
                    img{
                        width: 30rem;
                        border-top-left-radius: 1rem;
                        border-top-right-radius: 1rem;
                    }
                    .project-description{
                        width: 100%;
                        text-align: center;
                        background-color: $firstColor;
                        color: $secondColor;
                        font-size: 2rem;
                        padding: 1rem;
                    }
                }
            }
        }
        .contact{
            grid-area: contact;
            &-info{
                @include title;
            }
            &-social{
                width: 20rem;
                &__item{
                    text-decoration: none;
                    color: $firstColor;
                    font-size: 5rem;
                    transition: all .2s;
                    &:hover{
                        transform: scale(1.2);
                    }
                }
            }
        }
    }
}
@media(min-width: 768px){

}
@media (min-width: 1200px){

}