body{
    display: grid;
    grid-template-areas:
        "header"
        "presentation"
        "skills"
        "portfolio"
        "contact"
        "footer"
    ;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 5fr 5fr 5fr 3fr 2fr;
    justify-items: center;
    .presentation{
        grid-area: presentation;
        &-info{
            h1{
                color: $firstColor;
                font-size: 5rem;
                font-weight: 700;
            }
            p{
                color: $firstColor;
                font-size: 3.5rem;
            }
        }
        &-img{
            width: 50rem;
            border: solid $firstColor 1rem;
            background-color: $firstColor;
            border-radius: 100%;
            img{
                border-radius: 100%;
                width: 100%;
            }
        }
    }
    .skills{
        grid-area: skills;
        &-info{
            @include title;
        }
        &-img{
            width: 75rem;
            img{
                width: 100%;
            }
        }
    }
    .portfolio{
        grid-area: portfolio;
        &-info{
            @include title;
        }
        &-projects{
            &__item{
                border: solid $firstColor 1rem;
                border-radius: 1rem;
                background-color: $firstColor;
                img{
                    width: 75rem;
                    border-top-left-radius: 1rem;
                    border-top-right-radius: 1rem;
                }
                .project-description{
                    width: 100%;
                    text-align: center;
                    background-color: $firstColor;
                    color: $secondColor;
                    font-size: 2rem;
                    padding: 1rem;
                }
            }
        }
    }
    .contact{
        grid-area: contact;
        &-info{
            @include title;
        }
        &-social{
            width: 75rem;
            &__item{
                text-decoration: none;
                color: $firstColor;
                font-size: 15rem;
                transition: all .2s;
                &:hover{
                    transform: scale(1.2);
                }
            }
        }
    }
}