@import url('https://fonts.googleapis.com/css2?family=Archivo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('http://fonts.cdnfonts.com/css/product-sans');
*{
    font-family: 'Product Sans', sans-serif;
}
html{
    font-size: 62.5%;
    ::selection{
        background-color: $secondColor;
        color: $firstColor;
    }
}