@import url('https://fonts.googleapis.com/css2?family=Archivo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
*{
    font-family: 'Roboto Condensed', sans-serif;
}
html{
    font-size: 62.5%;
}